<div class="product-page">

  <div class="title">
    <a>Reels Management</a>
  </div>

  <div class="bar">
    <div class="search-bar">
      <input type="text" placeholder="Search..." >
      <img src="assets/images/search-normal.png" style="background-color: #BB2649; width: 40px;">
    </div>
    <div class="dropdown-menu">
      <select>
        <option value="" disabled selected hidden>Categories</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>
    <div class="buttons-container">
      <button style="width: 100px;">
        <img src="assets/images/delete.png" alt="Delete">
        Delete
      </button>
    </div>
  </div>

  <div class="table-content-div">
    <table class="table-content">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Phone</th>
          <th>Package</th>
          <th>StartDate</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>P0001</td>
          <td>Confimred</td>
          <td>Ho Hong Dang</td>
          <td>0123456789</td>
          <td>Basic</td>
          <td>10/06/2024</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>P0001</td>
          <td>Unconfimred</td>
          <td>Ice Cream</td>
          <td>0787868595</td>
          <td>Silver</td>
          <td>10/06/2024</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>P0001</td>
          <td>Unconfimred</td>
          <td>Đặng Quốc Hùng</td>
          <td>0937419132</td>
          <td>Gold</td>
          <td>10/06/2024</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
