<div class="product-page">

  <div class="title">
    <a>Packages Management</a>
  </div>

  <div class="bar">
    <div class="search-bar">
      <input type="text" placeholder="Search..." >
      <img src="assets/images/search-normal.png" style="background-color: #BB2649; width: 40px;">
    </div>
    <div class="buttons-container">
      <button style="width: 90px;">
        <img src="assets/images/add.png" alt="Add">
        Add
      </button>
      <button style="width: 100px;">
        <img src="assets/images/delete.png" alt="Delete">
        Delete
      </button>
    </div>
  </div>

  <div class="table-content-div">
    <table class="table-content">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th>PricePerDay</th>
          <th>NumberDay</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>1</td>
          <td>Diamond</td>
          <td>15000</td>
          <td>15</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>2</td>
          <td>Diamond</td>
          <td>15000</td>
          <td>10</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>3</td>
          <td>Diamond</td>
          <td>15000</td>
          <td>7</td>
          <td><button class="btn-table"><img src="assets/images/edit.png"></button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
