<div class="profile-page">

  <div class="title-info">
    <h2>Thông tin cá nhân</h2>
  </div>
  <div class="upload-image">
    <button>
      <input type="file">
    </button>
  </div>
  <div class="info">
  <div class="detail-info">
    <h3>Họ và tên</h3>
    <input placeholder="Phong">
  </div>
  <div id="detail-info" class="detail-info">
    <h3>Số điện thoại</h3>
    <input placeholder="0123456789">
  </div>
</div>
  <div class="div-save">
    <button class="btn-save">Lưu thay đổi</button>
  </div>

  <div>
    <div style="padding-top: 30px;"><h2 style="border-top: 2px solid #BB2649; padding-top: 10px;">Thay đổi mật khẩu</h2></div>
    <div class="div-change">
      <div class="old-password">
        <h3>Mật khẩu cũ</h3>
        <input  class="changpassword" type="password">
      </div>
      <div class="div-detail-info">
        <h3>Mật khẩu mới</h3>
        <input class="changpassword" type="password">
      </div>
      <div class="div-detail-info">
        <h3>Xác nhận mật khẩu</h3>
        <input class="changpassword" type="password">
      </div>
      <div class="div-save">
        <button class="btn-save">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>
