<div class="product-page">

  <div class="title">
    <a>Topups Management</a>
  </div>

  <div class="bar">
    <div class="search-bar">
      <input type="text" placeholder="Search..." >
      <img src="assets/images/search-normal.png" style="background-color: #BB2649; width: 40px;">
    </div>
  </div>

  <div class="table-content-div">
    <table class="table-content">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Amount Transfer</th>
          <th>Transaction Date</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>1</td>
          <td>25000</td>
          <td>20/12/2023</td>
          <td>Dang</td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>2</td>
          <td>25000</td>
          <td>20/12/2023</td>
          <td>Dang</td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>3</td>
          <td>25000</td>
          <td>20/12/2023</td>
          <td>Dang</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
