.container {
  display: flex;
}

.nav-container {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
}

.vertical-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: large;
}

.vertical-nav li {
  border-bottom: 1px solid #BB2649;
  padding: 10px;
}

.vertical-nav li:last-child {
  border-bottom: none;
}

.vertical-nav a {
  text-decoration: none;
  color: #BB2649;
  display: block;
}

.vertical-nav a:hover {
  background-color: #f0f0f0;
}

.content-container {
  flex: 1;
  padding: 20px;
}

.dashboard {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.vertical-nav li {
  display: flex;
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
  border-bottom: 1px solid #BB2649;
  padding: 10px;
}

.vertical-nav li:last-child {
  border-bottom: none;
}

.vertical-nav img {
  margin-right: 10px; /* Khoảng cách giữa ảnh và nội dung */
}
