<app-header></app-header>

<div class="container">
  <div class="nav-container" >
    <ul class="vertical-nav" style="border-right: 1px solid #BB2649;">
      <li class="dashboard" style="border-bottom: 2px solid #BB2649;"><a routerLink="/home/dashboard">Dashboard</a></li>
      <li><img src="assets/images/icon.png"><span><a routerLink="/home/reels">Reels</a></span></li>
      <li><img src="assets/images/icon.png"><a routerLink="/home/category">Categories</a></li>
      <li><img src="assets/images/icon.png"><a routerLink="/home/package">Packages</a></li>
      <li><img src="assets/images/icon.png"><a routerLink="/home/customer">Customers</a></li>
      <li><img src="assets/images/icon.png"><a routerLink="/home/topup">Top Up</a></li>
      <li><img src="assets/images/icon.png"><a routerLink="/home/profile">Profiles</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
