<div class="product-page">

  <div class="title">
    <a>Customers Management</a>
  </div>

  <div class="bar">
    <div class="search-bar">
      <input type="text" placeholder="Search..." >
      <img src="assets/images/search-normal.png" style="background-color: #BB2649; width: 40px;">
    </div>
  </div>

  <div class="table-content-div">
    <table class="table-content">
      <thead>
        <tr>
          <th></th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Surplus</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>Ho Hong Dang</td>
          <td>20520427%64gm.uit.edu.vn</td>
          <td>0123456789</td>
          <td>500000</td>
          <td>Active</td>
          <td><button class="btn-table">Lock Account</button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>Lê Trần Quốc Khánh</td>
          <td>khanh%64gmail.com</td>
          <td>0787868595</td>
          <td>1000000</td>
          <td>Active</td>
          <td><button class="btn-table">Lock Account</button></td>
        </tr>

        <tr>
          <td><input type="checkbox"></td>
          <td>Đặng Quốc Hùng</td>
          <td>hungabt%64gmail.com</td>
          <td>0773916917</td>
          <td>0</td>
          <td>Active</td>
          <td><button class="btn-table">Lock Account</button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
